@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic-ext");
/* 	GENERAL STYLE */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button:active, button:focus, a:active, a:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  font-size: 16px; }

textarea:focus,
input:focus {
  outline: none; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: auto;
  padding: 60px 0; }

.btn {
  background: #009524;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 25px;
  text-decoration: none !important;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 15px;
  border-radius: 600px;
  border: 3px solid #a0ca77;
  transition: 0.3s;
  -webkit-transition: 0.3s; }

.btn:hover {
  background: #a0ca77;
  color: #fff; }

h2 {
  margin: 30px 0;
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 1.2; }
  h2 span {
    font-weight: 600; }

h3 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #000; }

@media (max-width: 991px) {
  .btn:hover {
    background: #009524; } }
@media (max-width: 767px) {
  section {
    padding: 30px 0; } }
@media (max-width: 450px) {
  h2 {
    font-size: 18px;
    padding: 0 15px; }

  h3 {
    font-size: 24px; } }
/* 	END GENERAL STYLE */
/* HEADER NAV */
.header {
  margin: 0;
  background: #005d23;
  background-size: cover; }
  .header_left {
    height: 78px;
    line-height: 90px;
    width: 75%;
    float: left; }
    .header_left ul {
      padding: 0;
      margin: 0;
      font-size: 0; }
    .header_left li {
      padding: 10px;
      display: inline-block;
      list-style-type: none;
      border-right: 2px solid #009424;
      -webkit-transform: skewX(-30deg);
              transform: skewX(-30deg);
      margin-left: -1px;
      line-height: 10px; }
      .header_left li:last-child {
        border-right: none; }
      .header_left li span {
        display: inline-block;
        -webkit-transform: skewX(30deg);
                transform: skewX(30deg); }
      .header_left li a {
        font-size: 20px;
        color: #fff;
        padding: 10px;
        line-height: 20px; }
      .header_left li:hover {
        background: #009424; }
  .header_right {
    height: 78px;
    line-height: 75px;
    width: 25%;
    float: right;
    text-align: center; }

@media (max-width: 991px) {
  .header_left ul li {
    padding: 5px; }
    .header_left ul li a {
      font-size: 12px; }

  .btn {
    font-size: 12px; } }
@media (max-width: 767px) {
  .menu_wrap {
    display: block; }

  .header_left {
    display: none; }

  .header {
    position: fixed;
    width: 100%;
    z-index: 1000; }

  .logo_wrap {
    margin-top: 78px; }

  .header_right {
    width: 90%;
    text-align: right; } }
@media (min-width: 768px) {
  .header {
    display: block; }

  .menu_wrap {
    display: none !important; } }
/* END HEADER NAV */
/* ADAPTIVE MENU */
#main-menu {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 99999 !important;
  position: fixed;
  left: -100%;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: 0; }
  #main-menu li {
    display: block;
    padding: 2px 0; }
    #main-menu li a {
      color: #000;
      font-size: 18px;
      font-weight: 600; }
      #main-menu li a:hover {
        color: #07df11; }
  #main-menu.opened {
    left: 0; }
  #main-menu .menu {
    margin-top: 65px;
    text-align: left; }

.menu-btn {
  height: 35px;
  width: 40px;
  padding: 0 5px;
  position: absolute;
  right: -60px;
  top: 22px;
  cursor: pointer;
  z-index: 100 !important;
  background: rgba(255, 255, 255, 0.5); }

.opened .menu-btn {
  right: 0;
  top: 23px; }

.menu-btn-line {
  height: 3px;
  background: #009524;
  position: absolute; }

.menu-btn-line-1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 30px;
  top: 5px; }

.menu-btn-line-2 {
  top: 15px;
  width: 30px;
  left: 5px; }

.menu-btn-line-3 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 30px;
  top: 25px; }

.opened-menu .menu-btn-line-1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 15px;
  top: 11px; }
.opened-menu .menu-btn-line-2 {
  top: 15px;
  width: 0px;
  left: 9px; }
.opened-menu .menu-btn-line-3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 15px;
  top: 20px; }

/* END ADAPTIVE MENU */
/* TITLE BLOCK */
.logo {
  display: inline-block;
  text-align: center;
  margin: 0 auto; }
  .logo_wrap {
    text-align: right; }
  .logo img {
    max-height: 142px;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 20px 0; }

.phone_wrap {
  text-align: center;
  height: 176px;
  line-height: 176px; }
  .phone_wrap a {
    display: inline-block;
    font-size: 46px;
    font-weight: 600;
    color: #005d23;
    padding: 15px 0;
    text-decoration: none;
    cursor: default; }

.contacts_wrap {
  text-align: left;
  height: 176px;
  padding-top: 50px; }
  .contacts_wrap p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #005d23; }
  .contacts_wrap a {
    font-size: 24px;
    color: #005d23;
    text-decoration: underline; }

@media (max-width: 1200px) {
  .logo img {
    max-height: 100px; }

  .phone_wrap {
    line-height: 110px; }
    .phone_wrap a {
      font-size: 30px; }

  .contacts_wrap {
    padding-top: 35px; }
    .contacts_wrap p, .contacts_wrap a {
      font-size: 20px; } }
@media (max-width: 767px) {
  .logo_wrap {
    text-align: center;
    line-height: 0; }

  .phone_wrap {
    height: auto;
    line-height: 0; }

  .contacts_wrap {
    text-align: center;
    padding-top: 15px; } }
/* END TITLE BLOCK */
/* MAIN BLOCK */
.block_main {
  background: url(../img/bg_main.jpg) no-repeat center center;
  background-size: cover;
  min-height: 523px;
  position: relative; }
  .block_main_text {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 93, 35, 0.7); }

/* END MAIN BLOCK */
/* SERVICES BLOCK */
.services_icons_item {
  text-align: center; }
.services_icons p {
  text-align: center;
  color: #000;
  font-size: 24px;
  margin-bottom: 0; }
.services_icons img {
  width: 165px;
  height: 165px; }

@media (max-width: 991px) {
  .services_icons_item p {
    padding: 0 15px; } }
@media (max-width: 767px) {
  .services_icons_item {
    padding: 15px 0; }
    .services_icons_item p {
      margin: 0; } }
@media (max-width: 450px) {
  .services_icons p {
    font-size: 20px; } }
/* END ITEMS BLOCK */
/* ABOUT BLOCK */
.about {
  padding-top: 70px; }
  .about h3 {
    padding-bottom: 20px; }
  .about .description {
    padding: 0 15px;
    font-size: 16px;
    color: #000; }

@media (max-width: 767px) {
  .about h3 {
    font-size: 21px; }

  .about .description {
    font-size: 14px;
    padding: 0; } }
@media (max-width: 450px) {
  .about h3 {
    font-size: 18px; } }
/* END ABOUT BLOCK */
/* BANNER BLOCK */
.banner {
  max-width: 1280px;
  margin: 0 auto;
  background: url(../img/banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 400px;
  position: relative; }
  .banner_text {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 93, 35, 0.7); }

/* END BANNER BLOCK */
/* WHY WY BLOCK */
.why_we {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center; }
  .why_we h3 {
    text-align: center;
    padding-bottom: 45px; }
  .why_we_item {
    display: inline-block;
    text-align: center;
    width: 19%;
    vertical-align: top; }
    .why_we_item p {
      padding: 0 12px;
      margin: 25px 0 0 0;
      font-size: 24px;
      font-weight: 400;
      color: #000; }

.why_we_bg_ico {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: #94c26d;
  background: linear-gradient(135deg, #94c26d 0%, #5fa044 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c26d', endColorstr='#5fa044',GradientType=1 );
  border-radius: 600px; }

@media (max-width: 991px) {
  .why_we_item {
    width: 25%;
    padding: 15px 0; }
    .why_we_item p {
      font-size: 16px;
      padding: 0;
      margin: 0; } }
@media (max-width: 767px) {
  .why_we_item {
    width: 33%; }
    .why_we_item h3 {
      font-size: 21px; } }
@media (max-width: 480px) {
  .why_we_item {
    width: 50%; }
    .why_we_item h3 {
      font-size: 18px; } }
/* END WHY WY BLOCK */
/* BANNER_TENDER BLOCK */
.banner_tender {
  background: url(../img/banner_tender.jpg) no-repeat center center;
  padding: 0; }
  .banner_tender .banner_title {
    width: 65%;
    float: left; }
    .banner_tender .banner_title h2 {
      text-align: left;
      font-size: 45px;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 1.3;
      text-transform: uppercase;
      color: #005d23;
      margin: 0;
      position: absolute;
      bottom: 50px;
      width: 53%;
      left: 90px; }
  .banner_tender .banner_info {
    width: 40%;
    height: 400px;
    float: right;
    background: rgba(0, 93, 35, 0.7);
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 60px; }

@media (max-width: 991px) {
  .banner_tender .banner_info {
    font-size: 21px;
    padding: 40px 20px; }

  .banner_tender .banner_title h2 {
    width: 49%;
    font-size: 30px; } }
@media (max-width: 767px) {
  .banner_tender .banner_info {
    width: 100%;
    display: block;
    text-align: center; }

  .banner_tender .banner_title h2 {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    left: 0;
    padding: 0 15px; } }
@media (max-width: 480px) {
  .banner_tender .banner_info {
    font-size: 16px; }

  .banner_tender .banner_title h2 {
    font-size: 21px; } }
/* END BANNER_2 BLOCK */
/* REWIEVS BLOCK */
.rewievs {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center; }
  .rewievs h3 {
    text-align: center;
    padding-bottom: 45px; }
  .rewievs_item {
    text-align: center; }

.img_link {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: relative;
  margin: 0 20px; }
  .img_link img {
    width: 100%;
    height: 100%;
    border: 2px solid #8ccc73; }

.rewievs_img_bg,
.rewievs_img_title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 93, 35, 0.5); }

.img_link:hover .rewievs_img_bg,
.img_link:hover .rewievs_img_title {
  display: block; }

.rewievs_img_title {
  background: transparent;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 600px;
  font-size: 30px;
  color: #fff;
  font-weight: 200;
  line-height: 40px;
  top: 30%;
  left: 40%; }

@media (max-width: 1199px) {
  .img_link {
    padding: 15px;
    margin: 0; } }
@media (max-width: 480px) {
  .rewievs h3 {
    padding-bottom: 0; } }
/* END REWIEVS BLOCK */
/* ABOUT VIDEO BLOCK */
.about_video {
  background: #aeda9c;
  background-size: cover;
  padding: 50px 0; }
  .about_video h3 {
    padding-bottom: 45px; }

.video_wrap {
  text-align: center; }

@media (max-width: 480px) {
  .about_video h3 {
    padding-bottom: 10px; }

  iframe {
    height: 100% !important; } }
/* END ABOUT VIDEO BLOCK */
/* DOCS WRAP BLOCK / AUCTION / COMPLAINTS */
.docs_wrap h3 {
  padding-bottom: 40px; }
.docs_wrap div {
  color: #000; }
.docs_wrap .description {
  margin-top: 40px;
  font-size: 16px;
  color: #000; }
  .docs_wrap .description h4 {
    text-align: left;
    padding: 0;
    font-size: 24px;
    color: #000; }
  .docs_wrap .description img {
    float: left;
    margin: 5px 20px 0 0; }

.docs_wrap_info {
  padding-left: 65px; }

.comlaints {
  background: #d9dbdc;
  background-size: cover; }

@media (max-width: 480px) {
  .docs_wrap h3 {
    font-size: 24px;
    padding-bottom: 10px; }

  .docs_wrap .description {
    margin-top: 15px; }
    .docs_wrap .description h4 {
      font-size: 21px;
      margin: 0; } }
/* END DOCS WRAP BLOCK / AUCTION / COMPLAINTS */
/* ACCORDION BLOCK */
.accordion_list h3 {
  padding-bottom: 45px; }
.accordion_list h6 {
  margin: 0;
  color: #009423;
  font-size: 16px;
  font-weight: 600; }

.q_title {
  cursor: pointer;
  position: relative;
  color: #fff;
  border-radius: 600px;
  padding: 12px 15px; }
  .q_title:before {
    display: inline-block;
    content: url(../img/accordion_icon.png);
    width: 46px;
    height: 46px;
    float: right;
    margin-top: -12px;
    margin-right: -17px; }
  .q_title.active {
    background: #008e2e; }
    .q_title.active h6 {
      color: #fff;
      font-size: 16px;
      font-weight: 600; }
    .q_title.active:before {
      display: inline-block;
      content: url(../img/accordion_icon_active.png);
      width: 46px;
      height: 46px;
      float: right;
      margin-top: -12px;
      margin-right: -17px; }

.answer {
  display: none;
  padding: 15px 30px; }
  .answer p {
    margin: 0;
    padding: 0;
    font-size: 18px; }

.question {
  margin: 0 0 10px 0; }

.arrow {
  float: right;
  position: absolute;
  top: 25px;
  right: 25px; }

@media (max-width: 1199px) {
  .q_title {
    height: 80px;
    line-height: 135px;
    padding: 0 15px; }
    .q_title h6 {
      padding-top: 20px;
      padding-left: 20px;
      line-height: 1.2; }
    .q_title.active {
      height: 80px; }
      .q_title.active h6 {
        padding-top: 20px;
        padding-left: 20px;
        line-height: 1.2; }
      .q_title.active:before {
        line-height: 135px; } }
@media (max-width: 767px) {
  .answer p {
    font-size: 14px; } }
@media (max-width: 480px) {
  .q_title h6 {
    font-size: 12px; }
  .q_title.active h6 {
    padding-top: 15px;
    font-size: 12px; } }
/* END ACCORDION BLOCK */
/* INFO LIST BLOCK */
.info_list {
  background: #aeda9c; }
  .info_list ul {
    padding: 0 70px; }
    .info_list ul li {
      list-style-type: none;
      padding: 5px 45px;
      background: url(../img/list_point_ico.png) 0 10px no-repeat;
      font-size: 16px;
      font-weight: 600;
      color: #000; }

@media (max-width: 480px) {
  .info_list h3 {
    font-size: 18px; }

  .info_list ul {
    padding: 15px; }
    .info_list ul li {
      font-size: 14px; } }
/* END INFO LIST BLOCK */
/* FEEDBACK BLOCK */
.feedback {
  font-size: 18px;
  font-weight: 400;
  color: #000; }
  .feedback h4 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    padding: 30px 100px;
    margin: 0;
    background: #7ec673;
    background: -webkit-gradient(linear, left top, right top, from(#7ec673), to(#048f30));
    background: linear-gradient(to right, #7ec673 0%, #048f30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec673', endColorstr='#048f30',GradientType=1 );
    border-radius: 100px 100px 0 0; }

.feedback_wrap {
  background: #f4f4f4;
  border-radius: 0 0 100px 100px; }
  .feedback_wrap form {
    padding: 25px 75px 45px 75px; }
    .feedback_wrap form input {
      width: 100%;
      border: 1px solid #e0e0e0;
      border-radius: 600px;
      color: #000;
      font-size: 18px;
      font-weight: 400;
      padding: 15px 30px;
      margin: 10px 0; }
      .feedback_wrap form input::-webkit-input-placeholder {
        color: #000; }
      .feedback_wrap form input:-ms-input-placeholder {
        color: #000; }
      .feedback_wrap form input::placeholder {
        color: #000; }
    .feedback_wrap form .checkbox {
      margin-top: 20px; }
    .feedback_wrap form button {
      width: 100%;
      padding: 15px;
      margin-top: 20px;
      background: #87cb79;
      background: -webkit-gradient(linear, left top, right top, from(#87cb79), color-stop(69%, #018d2e), color-stop(69%, #018d2e));
      background: linear-gradient(to right, #87cb79 0%, #018d2e 69%, #018d2e 69%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cb79', endColorstr='#018d2e',GradientType=1 );
      border: none;
      border-radius: 600px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 400; }
      .feedback_wrap form button:hover {
        background: #018d2f; }

.jq-selectbox {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  cursor: pointer;
  margin-top: 10px; }
  .jq-selectbox ul {
    margin: 0;
    padding: 0;
    border: 2px solid #bbb;
    border-top: 0; }
  .jq-selectbox li {
    padding: 5px 10px;
    color: #aaa;
    transition: 0.2s;
    -webkit-transition: 0.2s; }
    .jq-selectbox li:hover {
      background-color: #ddd;
      color: #777; }
  .jq-selectbox__select {
    width: 100%;
    padding: 15px 30px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 600px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin: 0; }
    .jq-selectbox__select-text {
      font-size: 18px; }
    .jq-selectbox__select::after {
      content: "";
      display: block;
      position: absolute;
      border-top: 12px solid #aaa;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent;
      top: 40%;
      right: 20px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
  .jq-selectbox .jq-selectbox__dropdown {
    width: 94%;
    background: #fff;
    text-align: center;
    right: 17px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 3px 10px 2px rgba(116, 124, 129, 0.2);
            box-shadow: 0 3px 10px 2px rgba(116, 124, 129, 0.2); }
  .jq-selectbox ul {
    width: 95% !important;
    margin: 0 auto !important;
    border: none !important; }
    .jq-selectbox ul li {
      color: #000; }
      .jq-selectbox ul li:hover {
        color: #000;
        background: transparent; }

.opened .jq-selectbox__select::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1); }

textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  resize: none; }
  textarea::-webkit-input-placeholder {
    color: #000; }
  textarea:-ms-input-placeholder {
    color: #000; }
  textarea::placeholder {
    color: #000; }

.jq-checkbox {
  width: 52px;
  height: 52px;
  border-radius: 600px;
  border: 1px solid #e0e0e0;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }

.jq-checkbox.focused {
  border: 1px solid #d7d7d7; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 20px;
  height: 30px;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  position: absolute;
  top: 7px;
  left: 17px; }
.jq-checkbox input {
  display: none !important; }

@media (max-width: 767px) {
  .feedback_wrap form {
    padding: 25px 25px 45px 25px; } }
/* END FEEDBACK BLOCK */
/* FOOTER BLOCK  */
footer {
  background: #005d23;
  padding: 45px 0; }

.footer_info {
  text-align: left; }
  .footer_info h3 {
    margin: 0;
    padding: 0;
    text-align: left; }
    .footer_info h3 a {
      font-size: 18px;
      color: #8ccc73;
      text-transform: uppercase;
      text-decoration: underline; }
  .footer_info ul {
    padding: 0;
    margin: 0;
    text-align: left; }
    .footer_info ul li {
      list-style-type: none;
      padding: 5px 30px;
      background: url(../img/list_point_footer_ico.png) 0 10px no-repeat; }
    .footer_info ul a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #8ccc73; }

.footer_contacts {
  text-align: center; }
  .footer_contacts a {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    line-height: 35px; }
  .footer_contacts .btn {
    font-size: 21px;
    padding: 5px 30px;
    margin-top: 45px;
    float: right; }

.footer_top {
  display: inline-block;
  border-bottom: 2px solid #8ccc73;
  padding-bottom: 35px; }

.footer_bottom {
  padding-top: 35px;
  font-size: 18px;
  color: #fff; }
  .footer_bottom img {
    max-height: 63px;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 20px 0; }

@media (max-width: 991px) {
  .footer_info h3 {
    font-size: 21px; }
    .footer_info h3 a {
      font-size: 16px; }
  .footer_info ul li {
    padding: 5px 20px; }
    .footer_info ul li a {
      font-size: 14px; }

  .footer_contacts a {
    font-size: 18px; }
  .footer_contacts .btn {
    font-size: 16px;
    padding: 5px 10px; }

  .footer_bottom {
    text-align: center; }

  .logo_wrap {
    text-align: center; }

  .footer_bottom img {
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .footer_info h3 {
    text-align: center;
    margin: 5px 0; }
  .footer_info ul {
    text-align: center; }
    .footer_info ul li {
      background: none; }

  .footer_contacts a {
    display: block; }
  .footer_contacts .btn {
    float: none;
    width: 200px;
    margin: 10px auto; }

  .footer_top {
    padding-bottom: 20px; }

  .footer_bottom {
    font-size: 16px; }
    .footer_bottom .logo_wrap {
      margin-top: 0; } }
/* END FOOTER BLOCK  */
/* POP UP */
#modal_close {
  position: absolute;
  right: 100px;
  top: 15px;
  width: 25px;
  height: 25px;
  z-index: 10;
  cursor: pointer; }
  #modal_close:before, #modal_close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background: #018d2e; }
  #modal_close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  #modal_close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.mymagicoverbox_fenetre {
  width: 800px;
  left: -400px;
  z-index: 9999;
  position: fixed;
  margin-left: 50%;
  top: 40px;
  text-align: center;
  display: none; }

.feedback h4 {
  font-size: 20px;
  color: #fff; }
.feedback_wrap {
  border-radius: 0 0 90px 90px; }
  .feedback_wrap form input {
    padding: 5px 15px;
    font-size: 16px; }
    .feedback_wrap form input::-webkit-input-placeholder {
      font-size: 16px; }
    .feedback_wrap form input:-ms-input-placeholder {
      font-size: 16px; }
    .feedback_wrap form input::placeholder {
      font-size: 16px; }
  .feedback_wrap form .jq-selectbox__select {
    padding: 5px 15px;
    text-align: left; }
    .feedback_wrap form .jq-selectbox__select .jq-selectbox__dropdown {
      width: 90%; }
  .feedback_wrap form .jq-selectbox__dropdown {
    left: 18px;
    top: 36px; }
  .feedback_wrap form .jq-selectbox__select-text {
    font-size: 16px; }
  .feedback_wrap form .jq-selectbox__select::after {
    border-top: 9px solid #aaa;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .feedback_wrap form .jq-checkbox.checked .jq-checkbox__div {
    width: 13px;
    height: 18px;
    top: 5px;
    left: 9px; }
  .feedback_wrap form textarea {
    height: 120px;
    font-size: 16px; }
    .feedback_wrap form textarea::-webkit-input-placeholder {
      font-size: 16px; }
    .feedback_wrap form textarea:-ms-input-placeholder {
      font-size: 16px; }
    .feedback_wrap form textarea::placeholder {
      font-size: 16px; }
  .feedback_wrap form .jq-checkbox {
    width: 32px;
    height: 32px;
    float: left; }
  .feedback_wrap form .checkbox {
    text-align: left;
    font-size: 18px; }
  .feedback_wrap form button {
    font-size: 16px;
    padding: 10px; }

.mymagicoverbox_fenetreinterieur {
  height: 400px;
  text-align: center;
  overflow: auto;
  margin-top: 10px; }

#myfond_gris {
  display: none;
  background-color: #000000;
  opacity: 0.88;
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

@media (max-width: 767px) {
  .mymagicoverbox_fenetre {
    width: 600px;
    left: -300px;
    top: 80px; }

  #modal_close {
    right: 0;
    top: 0; }

  .feedback_wrap form .checkbox {
    font-size: 13px; } }
@media (max-width: 480px) {
  .mymagicoverbox_fenetre {
    top: 60px;
    width: 300px;
    left: -150px; }

  .feedback h4 {
    font-size: 16px;
    padding: 20px 17px; }
  .feedback_wrap {
    border-radius: 0 0 60px 60px; }
    .feedback_wrap form {
      padding: 10px 10px 35px 10px; }
      .feedback_wrap form textarea {
        height: 80px; }

  #modal_close {
    right: 10px;
    top: 0; } }
/* END POP UP */
