@import "bourbon/bourbon"
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic-ext")

/* 	GENERAL STYLE */
//Убрать стрелки у формы телефона
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
// Для Firefox
input
	&[type='number']
		-moz-appearance: textfield

//Убрать свечение кнопок в браузере
button:active, button:focus, a:active, a:focus
	outline: none !important
button::-moz-focus-inner 
	border: 0 !important

html, 
body
	margin: 0
	padding: 0
	overflow-x: hidden
body
	font-family: "Arimo", sans-serif
	font-weight: normal
	font-size: 16px

textarea,
input,
	&:focus
		outline: none
li
	list-style-type: none
section
	width: 100%
	height: auto
	padding: 60px 0

.btn
	background: #009524
	color: #fff
	display: inline-block
	vertical-align: middle
	padding: 10px 25px
	text-decoration: none !important
	text-align: center
	font-family: "Arimo", sans-serif
	font-size: 21px
	font-weight: 400
	line-height: 15px
	border-radius: 600px
	border: 3px solid #a0ca77
	transition: .3s
	-webkit-transition: .3s
.btn
	&:hover
		background: #a0ca77
		color: #fff
h2
	margin: 30px 0
	font-size: 36px
	color: #fff
	font-weight: 400
	text-align: center
	line-height: 1.2
	span
		font-weight: 600
h3
	margin: 0
	text-align: center
	font-size: 30px
	font-weight: 400
	color: #000

@media (max-width: 991px)
	.btn
		&:hover
			background: #009524
@media (max-width: 767px)
	section
		padding: 30px 0
@media (max-width: 450px)
	h2
		font-size: 18px
		padding: 0 15px
	h3
		font-size: 24px
/* 	END GENERAL STYLE */

/* HEADER NAV */
.header
	margin: 0
	background: #005d23
	background-size: cover
	&_left
		height: 78px
		line-height: 90px
		width: 75%
		float: left
		ul
			padding: 0
			margin: 0
			font-size: 0
		li
			padding: 10px
			display: inline-block
			list-style-type: none
			border-right: 2px solid #009424
			transform: skewX(-30deg)
			margin-left: -1px
			line-height: 10px
			&:last-child
				border-right: none
			span
				display: inline-block
				transform: skewX(30deg)
			a
				font-size: 20px
				color: #fff
				padding: 10px
				line-height: 20px
			&:hover
				background: #009424
	&_right
		height: 78px
		line-height: 75px
		width: 25%
		float: right
		text-align: center

@media (max-width: 991px)
	.header_left ul li 
		padding: 5px
		a
			font-size: 12px
	.btn
		font-size: 12px
@media (max-width: 767px)
	.menu_wrap
		display: block
	.header_left
		display: none
	.header
		position: fixed
		width: 100%
		z-index: 1000
	.logo_wrap
		margin-top: 78px
	.header_right
		width: 90%
		text-align: right
@media (min-width: 768px)
	.header
		display: block
	.menu_wrap
		display: none !important
/* END HEADER NAV */

/* ADAPTIVE MENU */
#main-menu
	-webkit-transition: .8s
	-moz-transition: .8s
	-ms-transition: .8s
	-o-transition: .8s
	transition: .8s
	li
		display: block
		padding: 2px 0
		a
			color: #000
			font-size: 18px
			font-weight: 600
			&:hover
				color:  #07df11
	z-index: 99999 !important
	position: fixed
	left: -100%
	width: 100%
	top: 0
	bottom: 0
	margin: 0
	background-color: #fff
	border: none
	border-radius: 0
	&.opened
		left: 0
	.menu
		margin-top: 65px
		text-align: left
.menu-btn
	height: 35px
	width: 40px
	padding: 0 5px
	position: absolute
	right: -60px
	top: 22px
	cursor: pointer
	z-index: 100 !important
	background: rgba(255, 255, 255, 0.5)
.opened .menu-btn
	right: 0
	top: 23px
.menu-btn-line
	height: 3px
	background: #009524
	position: absolute
.menu-btn-line-1
	transform: rotate(0deg)
	width: 30px
	top: 5px
.menu-btn-line-2
	top: 15px
	width: 30px
	left: 5px
.menu-btn-line-3
	transform: rotate(0deg)
	width: 30px
	top: 25px
.opened-menu
	.menu-btn-line-1
		transform: rotate(-45deg)
		width: 15px
		top: 11px
	.menu-btn-line-2
		top: 15px
		width: 0px
		left: 9px
	.menu-btn-line-3
		transform: rotate(45deg)
		width: 15px
		top: 20px
/* END ADAPTIVE MENU */

/* TITLE BLOCK */
.logo
	display: inline-block
	text-align: center
	margin: 0 auto
	&_wrap
		text-align: right
	img
		max-height: 142px
		max-width: 100%
		width: auto
		height: auto
		margin: 20px 0

.phone_wrap
	text-align: center
	height: 176px
	line-height: 176px
	a
		display: inline-block
		font-size: 46px
		font-weight: 600
		color: #005d23
		padding: 15px 0
		text-decoration: none
		cursor: default

.contacts_wrap
	text-align: left
	height: 176px
	padding-top: 50px
	p
		margin: 0
		padding: 0
		font-size: 24px
		color: #005d23
	a
		font-size: 24px
		color: #005d23
		text-decoration: underline 

@media (max-width: 1200px)
	.logo img
		max-height: 100px
	.phone_wrap 
		line-height: 110px
		a
			font-size: 30px
	.contacts_wrap 
		padding-top: 35px
		p, a
			font-size: 20px

@media (max-width: 767px)
	.logo_wrap
		text-align: center
		line-height: 0
	.phone_wrap
		height: auto
		line-height: 0
	.contacts_wrap
		text-align: center
		padding-top: 15px
/* END TITLE BLOCK */

/* MAIN BLOCK */
.block_main
	background: url(../img/bg_main.jpg) no-repeat center center
	background-size: cover
	min-height: 523px
	position: relative
	&_text
		display: block
		width: 100%
		position: absolute
		bottom: 0
		background: rgba(0,93,35,.7)

/* END MAIN BLOCK */

/* SERVICES BLOCK */
.services_icons
	&_item
		text-align: center
	p
		text-align: center
		color: #000
		font-size: 24px
		margin-bottom: 0
	img
		width: 165px
		height: 165px

@media (max-width: 991px)
	.services_icons_item
		p
			padding: 0 15px
@media (max-width: 767px)
	.services_icons_item
		padding: 15px 0
		p
			margin: 0
@media (max-width: 450px)
	.services_icons p
		font-size: 20px
/* END ITEMS BLOCK */

/* ABOUT BLOCK */
.about
	padding-top: 70px
	h3
		padding-bottom: 20px
	.description
		padding: 0 15px
		font-size: 16px
		color: #000
@media (max-width: 767px)
	.about h3
		font-size: 21px	
	.about .description
		font-size: 14px
		padding: 0
@media (max-width: 450px)
	.about h3
		font-size: 18px	
/* END ABOUT BLOCK */

/* BANNER BLOCK */
.banner
	max-width: 1280px
	margin: 0 auto
	background: url(../img/banner.jpg) no-repeat center center
	background-size: cover
	min-height: 400px
	position: relative
	&_text
		display: block
		width: 100%
		position: absolute
		bottom: 0
		background: rgba(0,93,35,.7)
/* END BANNER BLOCK */

/* WHY WY BLOCK */
.why_we
	max-width: 1280px
	margin: 0 auto
	text-align: center
	h3
		text-align: center
		padding-bottom: 45px
	&_item
		display: inline-block
		text-align: center
		width: 19%
		vertical-align: top
		p
			padding: 0 12px
			margin: 25px 0 0 0
			font-size: 24px
			font-weight: 400
			color: #000
.why_we_bg_ico
	display: inline-block
	width: 150px
	height: 150px
	background: rgb(148,194,109) /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(148,194,109,1) 0%, rgba(95,160,68,1) 100%) /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(148,194,109,1) 0%,rgba(95,160,68,1) 100%) /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(148,194,109,1) 0%,rgba(95,160,68,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c26d', endColorstr='#5fa044',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
	border-radius: 600px

@media (max-width: 991px)
	.why_we_item 
		width: 25%
		padding: 15px 0
		p
			font-size: 16px
			padding: 0
			margin: 0
@media (max-width: 767px)
	.why_we_item
		width: 33%
		h3
			font-size: 21px
@media (max-width: 480px)
	.why_we_item 
		width: 50%
		h3
			font-size: 18px	
/* END WHY WY BLOCK */

/* BANNER_TENDER BLOCK */
.banner_tender
	background: url(../img/banner_tender.jpg) no-repeat center center
	padding: 0
	.banner_title
		width: 65%
		float: left
		h2
			text-align: left
			font-size: 45px
			font-weight: 600
			letter-spacing: -1px
			line-height: 1.3
			text-transform: uppercase
			color: #005d23
			margin: 0
			position: absolute
			bottom: 50px
			width: 53%
			left: 90px
	.banner_info
		width: 40%
		height: 400px
		float: right
		background: rgba(0,93,35,.7)
		color: #fff
		font-size: 24px
		font-weight: 400
		padding: 60px

@media (max-width: 991px)
	.banner_tender .banner_info
		font-size: 21px
		padding: 40px 20px
	.banner_tender .banner_title h2
		width: 49%
		font-size: 30px
@media (max-width: 767px)
	.banner_tender .banner_info
		width: 100%
		display: block
		text-align: center
	.banner_tender .banner_title h2
		width: 100%
		display: block
		color: #fff
		text-align: center
		left: 0
		padding: 0 15px
@media (max-width: 480px)
	.banner_tender .banner_info
		font-size: 16px
	.banner_tender .banner_title h2
		font-size: 21px
/* END BANNER_2 BLOCK */

/* REWIEVS BLOCK */
.rewievs
	max-width: 1280px
	margin: 0 auto
	text-align: center
	h3
		text-align: center
		padding-bottom: 45px
	&_item
		text-align: center

.img_link
	display: inline-block
	text-align: center
	vertical-align: top
	position: relative
	margin: 0 20px
	img
		width: 100%
		height: 100%
		border: 2px solid #8ccc73
		
.rewievs_img_bg,
.rewievs_img_title
	display: none
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: rgba(0,93,35,.5)

.img_link:hover
	.rewievs_img_bg,
	.rewievs_img_title
		display: block

.rewievs_img_title
	background: transparent
	width: 48px
	height: 48px
	border: 5px solid #fff
	border-radius: 600px
	font-size: 30px
	color: #fff
	font-weight: 200
	line-height: 40px
	top: 30%
	left: 40%

@media (max-width: 1199px)
	.img_link
		padding: 15px
		margin: 0
@media (max-width: 480px)
	.rewievs h3
		padding-bottom: 0
/* END REWIEVS BLOCK */

/* ABOUT VIDEO BLOCK */
.about_video
	background: #aeda9c
	background-size: cover
	padding: 50px 0
	h3
		padding-bottom: 45px
.video_wrap
	text-align: center

@media (max-width: 480px)
	.about_video h3
		padding-bottom: 10px
	iframe
		height: 100% !important
/* END ABOUT VIDEO BLOCK */

/* DOCS WRAP BLOCK / AUCTION / COMPLAINTS */
.docs_wrap
	h3
		padding-bottom: 40px
	div
		color: #000
	.description
		margin-top: 40px
		font-size: 16px
		color: #000
		h4
			text-align: left
			padding: 0
			font-size: 24px
			color: #000
		img
			float: left
			margin: 5px 20px 0 0
.docs_wrap_info
	padding-left: 65px

.comlaints
	background: #d9dbdc
	background-size: cover

@media (max-width: 480px)
	.docs_wrap h3
		font-size: 24px
		padding-bottom: 10px
	.docs_wrap .description
		margin-top: 15px
		h4
			font-size: 21px
			margin: 0
/* END DOCS WRAP BLOCK / AUCTION / COMPLAINTS */

/* ACCORDION BLOCK */
.accordion_list
	h3
		padding-bottom: 45px
	h6
		margin: 0
		color: #009423
		font-size: 16px
		font-weight: 600
.q_title
	cursor: pointer
	position: relative
	color: #fff
	border-radius: 600px
	padding: 12px 15px
	&:before
		display: inline-block
		content: url(../img/accordion_icon.png)
		width: 46px
		height: 46px
		float: right
		margin-top: -12px
		margin-right: -17px
	&.active
		background: #008e2e
		h6
			color: #fff
			font-size: 16px
			font-weight: 600
		&:before
			display: inline-block
			content: url(../img/accordion_icon_active.png)
			width: 46px
			height: 46px
			float: right
			margin-top: -12px
			margin-right: -17px
.answer
	display: none
	padding: 15px 30px
	p
		margin: 0
		padding: 0
		font-size: 18px
.question
	margin: 0 0 10px 0

.arrow
	float: right
	position: absolute
	top: 25px
	right: 25px

@media (max-width: 1199px)
	.q_title
		height: 80px
		line-height: 135px
		padding: 0 15px
		h6
			padding-top: 20px
			padding-left: 20px
			line-height: 1.2
		&.active
			height: 80px
			h6
				padding-top: 20px
				padding-left: 20px
				line-height: 1.2
			&:before
				line-height: 135px
@media (max-width: 767px)
	.answer p
		font-size: 14px
@media (max-width: 480px)
	.q_title
		h6
			font-size: 12px
		&.active
			h6
				padding-top: 15px
				font-size: 12px
/* END ACCORDION BLOCK */

/* INFO LIST BLOCK */
.info_list
	background: #aeda9c
	ul
		padding: 0 70px
		li
			list-style-type: none
			padding: 5px 45px
			background: url(../img/list_point_ico.png) 0 10px no-repeat
			font-size: 16px
			font-weight: 600
			color: #000

@media (max-width: 480px)
	.info_list h3
		font-size: 18px
	.info_list ul
		padding: 15px
		li
			font-size: 14px
/* END INFO LIST BLOCK */

/* FEEDBACK BLOCK */
.feedback
	font-size: 18px
	font-weight: 400
	color: #000
	h4
		text-align: center
		font-size: 36px
		font-weight: 600
		color: #fff
		padding: 30px 100px
		margin: 0
		background: rgb(126,198,115) /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(126,198,115,1) 0%, rgba(4,143,48,1) 100%) /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(126,198,115,1) 0%,rgba(4,143,48,1) 100%) /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(126,198,115,1) 0%,rgba(4,143,48,1) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ec673', endColorstr='#048f30',GradientType=1 ) /* IE6-9 */
		border-radius: 100px 100px 0 0
.feedback_wrap
	background: #f4f4f4
	border-radius: 0 0 100px 100px
	form
		padding: 25px 75px 45px 75px
		input
			width: 100%
			border: 1px solid #e0e0e0
			border-radius: 600px
			color: #000
			font-size: 18px
			font-weight: 400
			padding: 15px 30px
			margin: 10px 0
			&::placeholder
				color: #000
		.checkbox
			margin-top: 20px
		button
			width: 100%
			padding: 15px
			margin-top: 20px
			background: rgb(135,203,121) /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(135,203,121,1) 0%, rgba(1,141,46,1) 69%, rgba(1,141,46,1) 69%) /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(135,203,121,1) 0%,rgba(1,141,46,1) 69%,rgba(1,141,46,1) 69%) /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(135,203,121,1) 0%,rgba(1,141,46,1) 69%,rgba(1,141,46,1) 69%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cb79', endColorstr='#018d2e',GradientType=1 ) /* IE6-9 */
			border: none
			border-radius: 600px
			color: #fff
			font-size: 18px
			letter-spacing: 1px
			text-transform: uppercase
			font-weight: 400
			&:hover
				background: #018d2f


.jq-selectbox
	display: inline-block
	vertical-align: middle
	width: 100%
	margin: 0
	cursor: pointer
	margin-top: 10px
	ul
		margin: 0
		padding: 0
		border: 2px solid #bbb
		border-top: 0
	li
		padding: 5px 10px
		color: #aaa
		transition: .2s
		-webkit-transition: .2s
		&:hover
			background-color: #ddd
			color: #777
	&__select
		width: 100%
		padding: 15px 30px
		background: #fff
		border: 1px solid #e0e0e0
		border-radius: 600px
		color: #000
		font-size: 18px
		font-weight: 400
		position: relative
		margin: 0
		&-text
			font-size: 18px
		&::after
			content: ''
			display: block
			position: absolute
			border-top: 12px solid #aaa
			border-right: 12px solid transparent
			border-left: 12px solid transparent
			top: 40%
			right: 20px
			transition: .3s
			-webkit-transition: .3s
	.jq-selectbox__dropdown
		width: 94%
		background: #fff
		text-align: center
		right: 17px
		border: 1px solid #e0e0e0
		box-shadow: 0 3px 10px 2px rgba(116, 124, 129, 0.2)
	ul
		width: 95% !important
		margin: 0 auto !important
		border: none !important
		li
			color: #000
			&:hover
				color: #000
				background: transparent

.opened .jq-selectbox__select::after
	transform: scaleY(-1)
textarea
	width: 100%
	border: 1px solid #e0e0e0
	border-radius: 20px
	padding: 15px
	margin-top: 20px
	font-size: 18px
	font-weight: 400
	resize: none
	&::placeholder
		color: #000

.jq-checkbox
	width: 52px
	height: 52px
	border-radius: 600px
	border: 1px solid #e0e0e0
	background: #fff
	box-shadow: none
	padding: 0
	position: relative
	display: inline-block
	vertical-align: middle
	margin-right: 20px

.jq-checkbox.focused
	border: 1px solid #d7d7d7
.jq-checkbox
	&.checked .jq-checkbox__div
		width: 20px
		height: 30px
		border-radius: 0
		background: transparent
		box-shadow: none
		transform: rotate(45deg)
		border-right: 4px solid #000
		border-bottom: 4px solid #000
		position: absolute
		top: 7px
		left: 17px
	input
		display: none !important

@media (max-width: 767px)
	.feedback_wrap form
		padding: 25px 25px 45px 25px
/* END FEEDBACK BLOCK */

/* FOOTER BLOCK  */
footer
	background: #005d23
	padding: 45px 0
.footer_info
	text-align: left
	h3
		margin: 0
		padding: 0
		text-align: left
		a
			font-size: 18px
			color: #8ccc73
			text-transform: uppercase
			text-decoration: underline
	ul
		padding: 0
		margin: 0
		text-align: left
		li
			list-style-type: none
			padding: 5px 30px
			background: url(../img/list_point_footer_ico.png) 0 10px no-repeat
		a
			font-size: 16px
			font-weight: 400
			text-decoration: underline
			color: #8ccc73
.footer_contacts
	text-align: center
	a
		display: inline-block
		font-size: 24px
		color: #fff
		font-weight: 400
		line-height: 35px
	.btn
		font-size: 21px
		padding: 5px 30px
		margin-top: 45px
		float: right
.footer_top
	display: inline-block
	border-bottom: 2px solid #8ccc73
	padding-bottom: 35px
.footer_bottom
	padding-top: 35px
	font-size: 18px
	color: #fff
	img
		max-height: 63px
		max-width: 100%
		width: auto
		height: auto
		margin: 20px 0

@media (max-width: 1199px)
	.footer_contacts 
		.btn
			font-size: 16px

@media (max-width: 991px)
	.footer_info 
		h3
			font-size: 21px
			a
				font-size: 16px
		ul li
			padding: 5px 20px
			a
				font-size: 14px
	.footer_contacts 
		a
			font-size: 18px
		.btn
			font-size: 16px
			padding: 5px 10px
	.footer_bottom
		text-align: center
	.logo_wrap
		text-align: center
	.footer_bottom img
		margin-bottom: 0
@media (max-width: 767px)
	.footer_info 
		h3 
			text-align: center
			margin: 5px 0
		ul
			text-align: center
			li
				background: none
	.footer_contacts
		a
			display: block
		.btn
			float: none
			width: 200px
			margin: 10px auto
	.footer_top
		padding-bottom: 20px
	.footer_bottom
		font-size: 16px
		.logo_wrap
			margin-top: 0
/* END FOOTER BLOCK  */

/* POP UP */
#modal_close
	position: absolute
	right: 100px
	top: 15px
	width: 25px
	height: 25px
	z-index: 10
	cursor: pointer
	&:before, 
	&:after
		position: absolute
		left: 15px
		content: ' '
		height: 20px
		width: 2px
		background: #018d2e
	&:before
		transform: rotate(45deg)
	&:after
		transform: rotate(-45deg)
.mymagicoverbox_fenetre
	width: 800px
	left: -400px
	z-index: 9999
	position: fixed
	margin-left: 50%
	top: 40px
	text-align: center
	display: none
.feedback
	h4
		font-size: 20px
		color: #fff
	&_wrap
		border-radius: 0 0 90px 90px
		form
			input
				padding: 5px 15px
				font-size: 16px
				&::placeholder
					font-size: 16px
			.jq-selectbox__select
				padding: 5px 15px
				text-align: left
				.jq-selectbox__dropdown
					width: 90%
			.jq-selectbox__dropdown
				left: 18px
				top: 33px
			.jq-selectbox__select-text
				font-size: 16px
			.jq-selectbox__select::after
				border-top: 9px solid #aaa
				border-right: 10px solid transparent
				border-left: 10px solid transparent
			.jq-checkbox.checked .jq-checkbox__div
				width: 13px
				height: 18px
				top: 5px
				left: 9px
			textarea
				height: 120px
				font-size: 16px
				&::placeholder
					font-size: 16px
			.jq-checkbox
				width: 32px
				height: 32px
				float: left
			.checkbox
				text-align: left
				font-size: 13px
			button
				font-size: 16px
				padding: 10px
.mymagicoverbox_fenetreinterieur
	height: 400px
	text-align: center
	overflow: auto
	margin-top: 10px
#myfond_gris
	display: none
	background-color: #000000
	opacity: 0.88
	width: 100%
	height: 100%
	z-index: 9998
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0

@media (max-width: 767px)
	.mymagicoverbox_fenetre
		width: 600px
		left: -300px
		top: 80px
	#modal_close
		right: 0
		top: 0
	.feedback_wrap form .checkbox
		font-size: 13px
@media (max-width: 480px)
	.mymagicoverbox_fenetre
		top: 60px
		width: 300px
		left: -150px
	.feedback
		h4
			font-size: 16px
			padding: 20px 17px
		&_wrap
			border-radius: 0 0 60px 60px
			form
				padding: 10px 10px 35px 10px
				textarea
					height: 80px
	#modal_close
		right: 10px
		top: 0
/* END POP UP */
